
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>News</title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Css/bongDa.css" rel="stylesheet" />
    <link href="~/Css/Site1.css" rel="stylesheet" />
    <link href="~/Css/site2.css" rel="stylesheet" />

    <script src="~/Scripts/menu.js"></script>
</head>

<body>

    <div>
        

            <div class="head">
                <div class="logo">
                    <a href="#"><img class="logo-ico" src="~/Img/logo1.png" /></a>
                    <div class="search">
                        <input type="text" placeholder="Nhập nội dung tìm kiếm">
                        <button type="submit"><i class="fa fa-search"></i></button>
                        <a class="login login1 dangnhap" href="#">Đăng nhập</a>
                        <a class="login">|</a>
                        <a class="login dangki" href="#">Đăng kí</a>
                    </div>


                </div>
            </div>

            <div class=" body">


                @RenderBody()


                <!-- righttttttt  -->
                <div class="main-filter">
                    <a href="WebChuDe.aspx" class="popular is-active1">
                        <i class="spr chuyemmuc"></i>
                        <span>Chủ đề</span>
                    </a>
                    <a href="WebVideo.aspx" class="popular is-active2">
                        <i class="spr video"></i>
                        <span>Video</span>
                    </a>
                    <a href="BongDa.aspx" class="popular is-active3">
                        <i class="spr bongda"></i>
                        <span>Bóng đá</span>
                    </a>
                    <a onclick="home(0);" class="popular is-active4">
                        <i class="spr len"></i>
                        <span>Lên trên</span>
                    </a>
                </div>
                <!-- righttttttt  -->
            </div>
        <div style="clear:both"></div>
            <div class="bottom">
                <div class="logo logo2">
                    <a href="#"><img class="logo-ico" src="~/Img/logo2.png" /></a>
                    <div class="search2">

                        <a class="login login1 dangnhap" href="LienHeQuangCao.aspx">Liên hệ quảng cáo</a>
                        <a class="login">|</a>
                        <a class="login dangki" href="GioiThieu.aspx">Giới thiệu</a>
                    </div>


                </div>
            </div>
        
        <div class="menu-bar">
            <div class="menu">
                <ol class="ol-menu" style="list-style-type:none;display:inline;margin:0px;padding:0px;">

                     <li class="li lii"><a href="/Front/Home"><i class="fa fa-search iconhome"></i></a></li>
                    @foreach (var item in ViewBag.listMenu)
                    {
                    <li class="li">
                        <a style="margin-left: -18px;" href="/Front/ChuDe/Index/@item.Id"> @item.Ten</a>
                        <ul class="sub-menu">
                            @foreach (var item2 in ViewBag.listMenu)
                            {
                                if (item2.DanhMucCha == item.Id)
                                {
                                    <li><a href="/Front/ChuDe/Index/@item2.Id">@item2.Ten</a></li>
                                }
                            }
                        </ul>
                    </li>
                    }




                </ol>
            </div>
        </div>
    </div>
</body>
</html>
