
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V16</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/fonts/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--===============================================================================================-->

    <link href="~/Css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/fonts/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link href="~/Css/util.css" rel="stylesheet" />
    <link href="~/Css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Css/login.css" rel="stylesheet" />
</head>

<body>

    <div class="limiter">
        <div class="container-login100" style="   background-image: url('../../../../images/bg-01.jpg'); ">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Account Login
                </span>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                <div class="login100-form validate-form p-b-33 p-t-5">

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="username" placeholder="User name">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    @Html.ValidationSummary(true, null, new { @class = "alert" })
                    <div class="container-login100-form-btn m-t-32">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </div>

                }


            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="~/fonts/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/fonts/vendor/bootstrap/js/popper.js"></script>
    <script src="~/fonts/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/fonts/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/fonts/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/fonts/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/fonts/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->


</body>
</html>